:root{
    --above-top: 2rem;
    --tilt-angle: 33deg;
    --top-arrow-width: 10vw;
    --bottom-triangles: 9rem;

    --main-color: #ea3;
    --lighter-color: #fc5;
    --color-mainBG: #EEE;

    --layout-main-spacing: 1.5rem;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.triangular-footer{
    width: 100%;
    position: relative;
    /* background-color: var(--main-color); */
    background-image: linear-gradient(to right, var(--lighter-color), var(--main-color));
    padding: calc(var(--layout-main-spacing) * 2) 0 var(--bottom-triangles);

}

/* ------ */

.expanded-triangle-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: var(--layout-main-spacing);
    position: relative;
}
.top-triangle{
    position: absolute;
    top: 0;
    left: calc(50% - calc(var(--top-arrow-width) / 2));
    border-top: var(--layout-main-spacing) solid var(--color-mainBG);
    border-left: calc(var(--top-arrow-width) / 2) solid transparent;
    border-right: calc(var(--top-arrow-width) / 2) solid transparent;
}
.expanded-triangle-content{
    text-align: center;
}
.expanded-triangle-title{
    width: 100%;
}

/* ------ */

.bottom-trianlges{
    position: absolute;
    top: calc(var(--above-top) * -1);
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.right-triangle,
.left-triangle{
    position: absolute;
    /* top: calc(var(--above-top) * -1); */
    top: 0;
    left: 0;
    right: 0;
    height: calc(var(--bottom-triangles) * 50);
}
.left-triangle{
    transform-origin: left top;
    transform: rotate(var(--tilt-angle));
    background-color: darkgrey;
    right: -50rem;
}
.right-triangle{
    transform-origin: right top;
    transform: rotate(calc(var(--tilt-angle) * -1));
    background-color: lightgrey;
    left: -50rem;
}
