:root{
    --scroll-progress-bar__height: 10px;
}

*{
    padding: 0;
    margin: 0;
}
body{
    padding-top:150px;
}

header{
    width: 100%;
    background-color: orangered;
    height: 150px;
    position: fixed;
    top: 0;
}


.scroll-progress-wrapper{
    height: var(--scroll-progress-bar__height);
    width: 100%;
    position: absolute;
    bottom: calc( var(--scroll-progress-bar__height) * -1);
    left: 0;
}
.scroll-progress-bar{
    width: 150px;
    height: var(--scroll-progress-bar__height);
    background-color: orange
}

.filler{
    padding: 500px 100px;
    margin: 50px;
    background-color: palegreen;
}